$background_gray: #eeeeee;
$green: #50b053;
$text_color: #333333;
$color_weak: #999999;

@mixin resolution-style {
  max-width: 1280px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin text-ellipsis($lines: 1) {
  word-wrap: break-word;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
}

@mixin no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin grid-column($start, $end) {
  grid-column-start: $start;
  grid-column-end: $end;
}
